@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css);
@import url(https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css);
.navbar-option {
  position: fixed;
  border: transparent solid 4px;
  background-color: transparent;
}

.navbar-option:hover {
    border-bottom: solid black 4px;
    height: 100%;
    background-color: rgba(104, 133, 130, 0.048);
    color: black;
    border-radius: 10px 10px 10px 10px;
}


.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 0;
    margin: 0;
}

.networks {
    border-radius: 10px;
    border: transparent solid;
    width: 45px;
}

.login {
  width: 100vw;
  overflow-x: hidden;
}
.facebook-icon {
    background-color: #3b5998;
}

.twitter-icon {
    background-color: #55acee;
}

.instagram-icon {
    background-color: #e4405f;
}

.linkedin-icon {
    background-color: #0077b5;
}

.youtube-icon {
    background-color: #ff0000;
}

/* ----------------- Bootstrap v5.0 -------------------- */

/* ----------------- Component -------------------- */

*{
    padding: 0;
    margin: 0;
}

body {
    background-color: #caced1;
}

a {
    text-decoration: none;
}

hr {
    color: #000;
    border: 1px solid #000;
}
