.footer {
    margin-top:50px;
    width:100%;
    height:50px;
    background:linear-gradient(#2780ab, #145777);
    color: #fff;
    position: absolute;
}

.networks {
    border-radius: 10px;
    border: transparent solid;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
