.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #009;
    color: #fff;
    padding: 0;
    margin: 0;
}

.networks {
    border-radius: 10px;
    border: transparent solid;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
