* {
    font-family: sans-serif;
}

.navbar {
    background: linear-gradient(#2780ab, #145777);
    color: #fff;
}

.navbar-option {
    border-bottom: 4px solid transparent;
    background-color: transparent;
    transition: all 0.3s ease-out;
}

.navbar-option:hover {
    border-bottom: 4px solid #fff;
    background-color: rgba(104, 133, 130, 0.048);
    color: #fff;
}

.navbar-option a {
    color: #fff;
}

.navbar-option a:hover {
    color: #fff;
}

.navbar-option a:focus {
    color: #fff;
}

li .dropdown-item {
    border-left: 4px solid transparent;
    transition: all 0.5s ease;
    color: #000;
}

li .dropdown-item:hover {
    border-left: 4px solid #fff;
    background: linear-gradient(#2780ab, #145777);
    color: #fff;
}

.logo-style {
    height: 85px;
    margin-left: 50px;
}

.text-title {
    margin-left: 2%;
    font-size: 1.6rem;
    color: #f6b200;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-shadow: 0 0 10px rgb(0 0 0 / 52%);
}

.vertical-line{
    margin-left: 15px;
    border-left: 1px solid #fff;
    opacity: 30%;
}

.session-user {
    background: #145777;
    border-radius: 8px;
}