.navbar-option {
  border: transparent solid 4px;
  background-color: transparent;
}

.navbar-option:hover {
    border-bottom: solid black 4px;
    height: 100%;
    background-color: rgba(104, 133, 130, 0.048);
    color: black;
    border-radius: 10px 10px 10px 10px;
}

