.facebook-icon {
    background-color: #3b5998;
}

.twitter-icon {
    background-color: #55acee;
}

.instagram-icon {
    background-color: #e4405f;
}

.linkedin-icon {
    background-color: #0077b5;
}

.youtube-icon {
    background-color: #ff0000;
}
